/*
 Règle CSS de base et pour mobile
*/
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}



/*
 Règle à ajouter pour tablette électronique
*/
@media (min-width: 700px){
    
}

/*
 Règle à ajouter pour ordinateur
*/
@media (min-width: 1200px){
    
}
